$dark: darkred;

body {
    background: yellow;
    padding-top: 50px;
}

.navbar-fixed-top {
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;

    h1 {
        color: $dark;
        text-shadow: 0 1px 1px white;
    }
}